body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;

}
header{
    background-color:lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
    font-size: 14pt;


}
footer{
    background-color:lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
    font-size: 14pt;
}
