body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;

}
header{
    background-color:lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
    font-size: 14pt;


}
footer{
    background-color:lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 10px;
    padding: 10px;
    font-size: 14pt;
}
a{
    color:green;
    text-decoration:none;
}
a:link{
    color:lightgreen;
}
a:visited{
    color: darkblue;
    text-decoration: underline;   
}
a:hover{
    color:red;
    text-decoration:underline;
    text-shadow: 5px 7px 5px;
}
a:active{
    color:black;
    opacity:0.3;
}

